body{
    width: auto;
    height: auto;
    background: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

.texto{
    position: absolute;
    width: 60%;
    height: 30%;
    left: 11%;
    top: 11%;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: transparent;
    border: none;
    resize: none;
}

.texto:focus{
    outline: none;
}

.texto2:focus{
    outline: none;
}

#rectangulo{
    position: absolute;
    width: 25%;
    height: 95%;
    right: 1%;
    top: 0px;
    display: block;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.texto2{
    position: absolute;
    width: 23%;
    height: 50%;
    right: 1.8%;
    top: 10%;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: transparent;
    border: none;
    resize: none;
}

.btn3{
    position: absolute;
    right: 7%;
    top: 65%;
    width: 150px;
    height: 37px;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
}

.mono{
    width: 70%;
    position: absolute;
    top: 13%;
    right: 15%;
}

.msj{
    text-align: center;
    margin: 0 0 20px;
}

.msj1{
    position: absolute;
    top: 48%;
    height: 20%;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
}

.msj2{
    position: absolute;
    top: 53%;
    height: 15%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}

.nota-importante{
    position: absolute;
    left: 10%;
    top: 70%;
    height: 18px;
    font-size: 24px;
}

.botones{
    position: absolute;
    left: 10.5%;
    top: 75%;
}

.btn1{
    width: 200px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
}

.btn2{
    width: 200px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
}

footer{
    display: inline;
    position: absolute;
    bottom: 5%;
    display: inline;
    width: 100%;
    text-align: center;
}

footer a:hover{
    color: blue;
    text-decoration: underline;
}

footer a{
    color: #000000;
    font-size: 22px;
    text-decoration: none;
    margin-right: 10px;
    
}

@media screen and (max-width: 768px) {
    .msj1, .msj2{
        font-size: 16px;
    }
    .nota-importante{
        font-size: 20px;
    }
    .btn1, .btn2, .btn3{
        width: 120px;
        height: 40px; 
    }
    .texto{
        position: absolute;
        width: 60%;
        height: 20%;
        top: 11%;
        font-size: 21px;
        color: #0A3871;
        background: transparent;
        border: none;
        resize: none;
    }
}

@media screen and (max-width: 500px) {
    .texto{
        position: absolute;
        width: 50%;
        height: 20%;
        top: 11%;
        font-size: 16px;
        color: #0A3871;
        background: transparent;
        border: none;
        resize: none;
    }

    .texto2{
        font-size: 14px;
    }

    .msj1, .msj2{
        font-size: 12px;
    }

    .nota-importante{
        font-size: 16px;
    }

    .btn1, .btn2, .btn3{
        width: 90px;
        height: 35px;  
    }
}